<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>All results</title>
</head>
<body>
<div th:if="not ${allUsers.isEmpty()}">
    <h1>All registered times:</h1>
    <table border="1">
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Email</th>
        </tr>
        <tr th:each="singleUser: ${allUsers}" th:object="${singleUser}">
            <td th:text="*{username}">John</td>
            <td th:text="*{password}">Kowalski</td>
            <td th:text="*{email}">Kowalski</td>
        </tr>
    </table>
</div>
</body>
</html>